node_modules
.eslintcache
tsc
dist
.DS_Store
*/**/*.g.ts
.cache
coverage/
site/
docs/*
!docs/assets
docs/assets/*
!docs/assets/extra.css
!docs/assets/*.png
!docs/assets/*.svg
!docs/README.md
!docs/types.md
!docs/sprite.md
!docs/deprecations.md
