.outerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    min-height: 100vh;
    width: 100%;
    max-width: 1600px;
}

.sidebar {
    flex: 0 0 auto;
    position: sticky;
    top: 0;
}
.mainContent {
    flex: 1;
    padding: 1rem;
    margin-left: 0px;
    //dynamically resize the width of the main content
    //based on the width of the screen
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.tableOfContents {
    flex: 0 0 auto;
    position: sticky;
    top: 0;
}

@media (max-width: 1000px) {
    .tableOfContents {
        display: none;
    }
}

@media (max-width: 800px) {
    h1 {
        word-wrap: break-word; // Allow text to wrap to the next line
    }

    h2 {
        word-wrap: break-word; // Allow text to wrap to the next line
    }

    // Code blocks should be full width
    .css-code {
        width: 100%;
    }

    .container {
        flex-direction: column;
    }

    .sidebar {
        position: relative;
        height: auto;
        width: 100%;
        padding: 1rem; // Add some padding to separate the sidebar from the main content
    }

    .mainContent {
        margin-left: 0px;
        padding: 1rem; // Add padding to separate the main content from the Header
    }

    .tableOfContents {
        display: none;
    }

    .outerContainer {
        align-items: flex-start; // Align the sidebar and main content to the left
    }
}