@import '/src/_variables.scss';

.header {
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: white;
  box-shadow: 0 1px 2px 0 #0000001a;
  height: 3.75rem;
  padding: calc(1rem*0.5) 1rem;

  .logoContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .logo {
      display: block;
      width: auto;
      height: 30px;
    }
  }
}

.title_container {
  height: 30px;
  margin-left: 10px;
  
}

.title {
  cursor: pointer;
  width: 100%;
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
}
