name: Docs - Build (& Deploy)

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v5
      with:
        node-version-file: '.nvmrc'

    - name: Install NPM packages
      run: npm ci

    - name: Build style spec
      run: |
        npm run generate-style-spec
        npm run generate-typings

    - name: Build docs
      run: npm run mkdocs-build
      

    - name: Deploy
      if: github.ref == 'refs/heads/main'
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: gh-pages
        folder: site
