name: Docs - Build (& Deploy)

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with: { persist-credentials: false }
    - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version-file: '.nvmrc'

    - name: Install NPM packages
      run: npm ci

    - name: Build style spec
      run: |
        npm run generate-style-spec
        npm run generate-typings

    - name: Build docs
      run: npm run docs


    - name: Deploy
      if: github.ref == 'refs/heads/main'
      uses: JamesIves/github-pages-deploy-action@9d877eea73427180ae43cf98e8914934fe157a1a # v4.7.6
      with:
        branch: gh-pages
        folder: site
