.mainContentContainer {
  flex-grow: 1;
  
  width: 100%;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: center;


  

  .mainContent_paddingContainer {
    max-width: 800px;
    
    position: relative;
    padding: 1rem 1rem 2rem 1rem;
    overflow: hidden;
    box-sizing: border-box;
    
    .row {
      display: flex;
      box-sizing: border-box;

      .docItems {
        
        flex: 1 0;
        margin-left: 0;
        padding: 0 1rem;
        width: 100%;    
        
        

        h2, h3 {
          padding-top: calc(3.75rem * 1  + 20px);
          margin-top: calc(3.75rem * (-1) + 26px);
        }

        

      }

    }
  }
}
